<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css">
</head>
<header>
    <p>Bienvenido a esta aplicación web</p>
</header>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Inicio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            {{#if sessionAspirante}}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/vercursos">Ver cursos</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/inscripcioncurso">Inscribir</a>
                    </li>
                </ul>
            </div>
            {{/if}}

            {{#if sessionCoordinador}}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/crearcurso">Crear curso</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/listarcursos">Ver cursos</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Ver inscritos</a>
                    </li>
                </ul>
            </div>
            {{/if}}
        </nav>
    </div>
