{{>header}}
<div class="container mt-2">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                {{#if (validarSesionNoIniciada sessionActiva)}}
                    <h1 class="display-4">Bienvenido</h1>
                {{else}}  
                    <h1>Bienvenido {{mostrar}}</h1>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{#if (validarSesionNoIniciada sessionActiva)}}
            <h3>Registrar usuario</h3>
            <form action="/registro" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="nroDocumento">Documento</label>
                        <input type="text" class="form-control" id="nroDocumento" name="nroDocumento" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="correo">Correo</label>
                        <input type="email" class="form-control" id="correo" name="correo" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="contrasena">Contraseña</label>
                        <input type="password" class="form-control" id="contrasena" name="contrasena" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="custom-file">
                            <input type="file" name="fotoPerfil" class="custom-file-input" accept="image/x-png,image/gif,image/jpeg">
                            <label class="custom-file-label" for="customFile">Subir foto de perfil</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-outline-primary">Crear usuario</button>
                    </div>
                </div>
            </form>
            {{/if}}
        </div>
    </div>
</div>
{{>footer}}