{{>header}}
<div class="container mt-2">
    <div class="row">
        <div class="col">
            <h2>Ver aspirantes inscritos</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{!-- {{{validarEliminacionAspirante respuesta}}} --}}
        </div>
    </div>
    <div class="row">
        {{{listarAspirantesInscritos listadoCursos}}}
    </div>
</div>
{{>footer}}