{{>header}}
<div class="container mt-2">
    <div class="row">
        <div class="col">
            <h2>Ver cursos inscritos</h2>
        </div>
    </div>
    <div class="row">
        {{{verCursosInscrito listado}}}
    </div>
</div>
{{>footer}}